@import './colors.css';

.navbar {
  display: grid;
  padding: 2px;
  align-items: center;
  grid-template-columns: 17% 37% 48%;

}
.nav-container{
  background-color: #f8f8f8;
}
.search-bar input.nav-input-search {
  width: 100% ;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 92px;
  color: var(--main-color);
}
.nav-links a {
  padding: 10px;
  border-radius: 39px;
  display: inline;
margin-right: 2px;
 transition: 0.5s;
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--second-color);
  width: 160px;
  background-color: none;
  color: #333;
  text-decoration: none;
}
.search-bar button,
.nav-links a:hover,
#scrollToTop {
  background-color: var(--second-color);
}
.nav-links a:hover,.nav-links a.active{
background-color:var(--second-color); ;
border: none;
color: white;
text-decoration: none;
}
.nav-links{
  text-align: center;
}
.sidebar nav ul {
  list-style: none;
  padding: 0;
}
.sidebar nav ul li {
  padding: 15px;
  border-bottom: 1px solid #444;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
}
@media (min-width:917px) and (max-width:1200px) {
  .nav-links a {
    font-size: 12px;
  }
}
.sidebar nav ul li i{
margin-right: 7px;
}
