<section class="categories" id="category">
  <h2>You may also like </h2>
  <div class="swiper-container category-swiper">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/pro1 (1).jpg" alt="Offers Zone">
            <p class="product-details">This is a brief description of product 1.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>

          </div>
        </a>

      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/pro1 (2).jpg" alt="Korean Beauty">
            <p class="product-details">This is a brief description of product 2.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/pro1 (3).jpg" alt="Skin Care Offers">
            <p class="product-details">This is a brief description of product 3.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/pro1 (1).jpg" alt="Offers Zone">
            <p class="product-details">This is a brief description of product 1.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/pro1 (2).jpg" alt="Korean Beauty">
            <p class="product-details">This is a brief description of product 2.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/pro1 (3).jpg" alt="Skin Care Offers">
            <p class="product-details">This is a brief description of product 3.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/pro1 (1).jpg" alt="Offers Zone">
            <p class="product-details">This is a brief description of product 1.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>

            <img class="slide-img" src="assets/imges/pro1 (2).jpg" alt="Korean Beauty">
            <p class="product-details">This is a brief description of product 2.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <a href="./details.html">
          <div class="product-card">
            <div class="product-head">
              <i class="fa-regular fa-heart"></i>
            </div>
            <img class="slide-img" src="assets/imges/22535.jpg" alt="Skin Care Offers">
            <p class="product-details">This is a brief description of product 3.</p>
            <div class="product-footer">
              <p class="product-price">$29.99</p>
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </a>
      </div>

    </div>
    <!-- Navigation -->
    <div class="swiper-button-next product-next"></div>
    <div class="swiper-button-prev product-prev"></div>
  </div>
</section>
