<div class="sections-container">
  <div class="special-container">
    <!-- Special Offers Section -->
    <section id="offers">
      <div class="section-heading">
        <h2>Shop by Category</h2>
        <a routerLink="">view all</a>
      </div>
      <div class="offers">
        <div class="row">
          <div class="col">
            <img src="assets/imges/sec1 (1).jpg" alt="Offer 1">
            <p>Medicines</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (1).png" alt="Offer 2">
            <p>Vitamins & Supps</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (2).png" alt="Offer 3">
            <p>Skin Care & Derma</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (4).png" alt="Offer 1">
            <p>Hair Care</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (5).png" alt="Offer 2">
            <p>Skin Care & Derma</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (1).png" alt="Offer 1">
            <p>Vitamins & Supps</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (2).png" alt="Offer 2">
            <p>Offer 2</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (6).png" alt="Offer 3">
            <p>Skin Care & Derma</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (7).png" alt="Offer 1">
            <p>Medicines</p>
          </div>
          <div class="col">
            <img src="assets/imges/sec1 (8).png" alt="Offer 2">
            <p>Vitamins & Supps</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
