<div class="sections-container" [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'" >
  <div class="special-container">
    <section class="categories" >
      <div class="section-heading">
        <h2>{{ 'BEST_SELLERS' | translate }}</h2>
        <a routerLink="">{{ 'VIEW_ALL' | translate }}</a>
      </div>

      <div class="swiper category-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let product of products; trackBy: trackById">
            <a routerLink="/details">
              <div class="product-card">
                <div class="product-head">
                  <i class="fa-regular fa-heart"></i>
                  <p>{{ 'SAVE_PERCENT' | translate:{percent: product.discount} }}</p>
                </div>
                <img [src]="product.image" [alt]="product.name | translate" class="slide-img">
                <p class="product-details">{{ product.description | translate }}</p>
                <div class="product-footer">
                  <p class="product-price">{{ product.price | currency:translate.currentLang }}</p>
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="swiper-button-next" [ngClass]="{'rtl-arrow': translate.currentLang === 'ar'}"></div>
        <div class="swiper-button-prev" [ngClass]="{'ltr-arrow': translate.currentLang === 'ar'}"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </div>
</div>
