<div class="sections-container">
  <div class="special-container">
    <!-- Brands Section -->
    <section class="brands" id="brands">

      <div class="section-heading">
        <h2>Brands</h2>
        <a routerLink="">view all</a>
      </div>
      <div class="swiper-container brands-swiper">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/imges/brand1.webp" alt="Brand 1">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand2.webp" alt="Brand 2">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand3.webp" alt="Brand 3">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand4.webp" alt="Brand 1">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand5.webp" alt="Brand 2">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand6.webp" alt="Brand 3">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand7.webp" alt="Brand 1">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand5.webp" alt="Brand 2">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand6.webp" alt="Brand 3">

          </div>
          <div class="swiper-slide">
            <img src="assets/imges/brand7.webp" alt="Brand 1">

          </div>

        </div>

      </div>
    </section>
  </div>
</div>
