<div class="sections-container" [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'" >
  <div class="special-container">
    <!-- Brands Section -->
    <section class="brands" >

      <div class="section-heading">
        <h2>Brands</h2>
        <a routerLink="">view all</a>
      </div>
      <div class="swiper-container brands-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let brand of brands; trackBy: trackById">
            <img [src]="brand.image" [alt]="brand.id">

          </div>
        </div>

      </div>
    </section>
  </div>
</div>
