/* ====================================================
    Responsive
==================================================== */
/* Desktop 1200 - up */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* Normal desktop :992px. (Laptop 14") */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Global */
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }

}


/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 1150px) {
    /* Global */
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 15px;
    }
    p {
        font-size: 14px;
    }
    .delevery {
      width: 70% !important;
  }
  .section-links{
    gap: 5px !important;
  }
}


/* small mobile :320px. */
@media (max-width: 767px) {
    /* Global */
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }

}

@media (min-width: 768px){
  .special-container{
    padding-left: 15%;
    padding-right: 15%;
  }
  .special-container-categories{
    padding-left: 11%;
    padding-right: 11%;
  }
  .nav-links a{
    padding: 7px;
  }
  }




  /* Further adjustments for very small screens */
  @media (max-width: 480px) {
    .left-icons a {
        font-size: 16px;
        margin-right: 5px;
    }

    .delivery-info {
        font-size: 12px;
    }

    .search-bar input, .search-bar button {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .nav-links a {
        font-size: 12px;
        display: inline;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        width: 83px;
    }
    .top-bar .info {
        width: 140%;
    }
  }

@media (max-width: 480px) {
  .top-bar {
    flex-direction: column;
  }
}



@media (max-width: 480px) {
 .larg .larg-container .swiper-wrapper div .swiper-slide img {
height: 200px;
}
}
/* Responsive Adjustments */


@media (max-width: 576px) {
  .category .col {
      flex: 1 1 100%;
  }

  .brands-swiper img {
padding-bottom: 10px;    }
}
@media (min-width: 1200px) {
  .product-card {
    font-size: 1.2rem;
  }
  .slide-img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .product-card {
    font-size: 1rem;
  }
  .slide-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .product-card {
    font-size: 0.9rem;
  }
  .slide-img {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .features-section {
      display: block;
  }
  .footer-section {
      font-size: 15px;
      color: #ffffff91;
  }
  .feature {
    width: 100%;
    margin-bottom: 50px;
  }
  .social-icons {
      /* font-size: 12px; */
      margin-bottom: 20px;
  }
  .footer-section h5 {
      font-weight: bold;
      margin-top: 20px;
  }
  .footer-section a {
      color: #ffffffc2;
      text-decoration: none;
  }
  .footer-section .social-icons a {
      font-size: 24px;
      margin-right: 10px;
      color: #ffffff91;
  }
  .feature h3 {
    font-size: 1.3rem;
  }

  .feature p {
    font-size: 0.9rem;
  }
}

