<div class="feature-container">
  <div class="special-container">
    <div class="features-section">
      <div class="feature">
        <h3>Fast Delivery </h3>
        <p>We'll deliver your order within two <br> hours maximum.</p>
      </div>
      <div class="feature">
        <h3>Easy Returns </h3>
        <p>Not happy with your order, enjoy our easy <br> returns process.</p>
      </div>
      <div class="feature">
        <h3>Live Support </h3>
        <p>Kulud's support agents are available <br> 24 hours to help.</p>
      </div>
      <div class="feature">
        <h3>Cash on Delivery </h3>
        <p>Skip the online payment and pay <br> on delivery.</p>
      </div>
    </div>
  </div>
</div>
