<div class="larg-container">
  <div class="special-container">
    <section class="larg">
      <div class="swiper-container larg-swiper">
        <div class="swiper-wrapper">
          <div class=" ">
            <img class="slide-img" src="assets/imges/larg1.webp" alt="Offers Zone">
          </div>
          <div class="swiper-slide">
            <img src="assets/imges/larg2.webp" alt="Korean Beauty">
          </div>
          <div class="swiper-slide">
            <img src="assets/imges/larg3.webp" alt="Skin Care Offers">
          </div>
          <div class="swiper-slide">
            <img src="assets/imges/larg4.webp" alt="Hair Care Offers">
          </div>
          <div class="swiper-slide">
            <img src="assets/imges/larg5.webp" alt="Hair Care Offers">
          </div>
          <div class="swiper-slide">
            <img src="assets/imges/larg2.webp" alt="Hair Care Offers">
          </div>
          <div class="swiper-slide">
            <img src="assets/imges/larg4.webp" alt="Hair Care Offers">
          </div>
          <div class="swiper-slide">
            <img src="assets/imges/larg1.webp" alt="Hair Care Offers">
          </div>

        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Navigation buttons -->
        <div class="swiper-button-next"></div> 
        <div class="swiper-button-prev"></div> 
      </div>
    </section>
  </div>

</div>
