<div class="larg-container" [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'">
  <div class="special-container">
    <section class="larg">
      <div class="swiper-container larg-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let larg of largs; trackBy: trackById">
            <img [src]="larg.image" alt="Korean Beauty">
          </div>
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Navigation buttons -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
  </div>

</div>
