<div class="footer-section">
  <div class="special-container">
      <div class="row">
          <div class="col-md-3">
              <h5>Payment methods</h5>
              <img src="assets/imges/google.png" class="pay-img" alt="" srcset="">
              <div class="theqa  ">
                  <img src="assets/imges/logo.png" style=" background-color:white">
              </div>
          </div>
          <div class="col-md-3">
              <h5>#1 Pharmacy in Qatar.</h5>
              <p>Kulud is the largest pharmacy chain in Qatar with over 100 branches and counting,
                  featuring a collection of over 12,000 products.</p>
              <div class="social-icons">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fas fa-mobile-alt"></i></a>
              </div>
          </div>
          <div class="col-md-3">
              <h5>SUPPORT</h5>
              <a href="./contact.html">Contact Us</a><br>
              <a href="./about.html">About Us</a><br>

          </div>
          <div class="col-md-3">
              <h5>POLICIES</h5>
              <a href="#">Exchanges & Returns</a><br>
              <a href="#">Privacy Policy</a><br>
              <a href="#">Terms & Conditions</a>
          </div>
      </div>
  </div>
</div>
